
html,body
{
	height: 100%;
}

body
{
	background-color:;
	background-image: url(image/url6.JPG);

	background-size: cover;
	background-blend-mode: soft-light;
	}


table{
	
	color: white;
	font-size: 20;
	margin-left: 40px;

}
td{
	
	margin-right: 5px;
}
h4{
	margin-top: 15px;
	margin-left: 1100px;
	color:white;
	text-decoration: none;
}
.re{
	margin: 10px auto;
	margin-left: 700px;
	display: block;
	border: 3px solid white;
	background-color: rgba(255,255,255,0);
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	border-radius: 5px;
	transition: background-color 1000ms,color 1000ms;
	
}
.re:hover
{background-color: rgba(255,255,255,1);
	color: #222;
	cursor: pointer;
	transition: background-color 1000ms,color 1000ms;
}



.fo{
	color: white;
margin-top: 100px;
margin-left: 80px;
font-size: 35PX;
}
.f{
	margin-top: 150px;
	color: white;
}